@import "./components/header";

.fullbanner {
    height: 100vh;
    overflow: hidden;
    .bg-image {
        background-image: url("../img/img1.jpeg");

        filter: blur(3px);
        -webkit-filter: blur(3px);
        height: 100%;
        background-position: 20%;
        background-repeat: no-repeat;
        background-size: 200% 100%;
    

        @include media('sm') {
            background-position: 60% 35%;
            background-repeat: no-repeat;
            background-size: 110%;
        }
    }

    .container {
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        position: absolute;
        top: 0;
        left:0;
        position: absolute;
        z-index: 2;
        width: 100%;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        height: 100vh;

        @include media('sm') {
            flex-direction: row;
        }

        .text {
            width: 100%;
            color: $white;
            text-align: left;
            
            @include media('sm') {
                width: 50%;
            }

            h2 {
                font-size: $font-size-title;
                line-height: 1.6;
                padding: 40px 0 0;
            }

            p {
                font-size: $font-size-small;
                line-height: 1.6;
                font-weight: 400;
            }
        }
    }
}