$white: #fff;
$black: #000000;

$color-accent: #B2D055;

$font-family: "Roboto", monospace;

$font-size-base: 14px;
$font-line-height: 1.5;
$font-weight-base: 400;

$font-size-small: 0.857rem; // 12px
$font-size-big: 1.143rem; // 16px
$font-size-title: 2.286rem; // 32px
